:root {
    --Red--: hsl(0, 100%, 74%);
    --Green--: hsl(154, 59%, 51%);
    --Blue--: hsl(248, 32%, 49%);
    --Dark-Blue--: hsl(249, 10%, 26%); 
    --Grayish-Blue--: hsl(246, 25%, 77%);
    --Font-Size--: 1rem;
}

*, ::before, ::after {
    box-sizing: border-box;
}

body {
    background-color: var(--Red--);
    background-image: url(images/bg-intro-mobile.png);
    font-family: 'Poppins', sans-serif;
    font-size: var(--Font-Size--);
    text-align: center;
    color: white;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    min-height: 160vh;
}
#body {
    justify-content: flex-start;
}

main {
    padding: 2em;
}

.text-sect {
    max-width: 350px;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.h1 {
    margin: 2em 1.5em 0 1.5em;
}

.para {
    color: hsl(246 39% 94%);
}

.form-sect {
    margin-top: 1.5em;
    justify-content: space-between;
    max-width: 350px;
}

.thereafter {
    color: var(--Grayish-Blue--);
}

.blue-btn {
    padding: 1em 5.5em;
    border-radius: 8px;
    border: none;
    background-color: var(--Blue--);
    color: white;
    margin-bottom: 1.5em;
    line-height: 1.5;
    box-shadow: 0px 5px 0px hsl(249deg 10% 26% / 30%);
}
.blue-btn:focus-visible {
    outline: none;
}

.form-div {
    background-color: white;
    border-radius: 8px;
    padding: 1em;
    width: -webkit-fill-available;
}

.input {
    padding: 1em 2em;
    border-radius: 8px;
    border: 1px solid var(--Grayish-Blue--);
    margin-bottom: 15px;
    color: var(--Dark-Blue--);
    font-weight: 700;
}

.input:focus-visible {
    border: 1.5px solid var(--Dark-Blue--);
    outline: none;
}

.input-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.error-icon {
    max-width: 20px;
    position: relative;
    right: 30px;
    display: none;
}
.error-text {
    color: red;
    font-size: .65rem;
    text-align: right;
    align-self: flex-end;
    margin: 0.5em 1.5em 1em 0;
    font-style: italic;
    display: none;
}

#submit-btn {
    background-color: var(--Green--);
    border: none;
    color: white;
    padding: 1.5em 5.45em;
    font-weight: 600;
    box-shadow: 0px 5px 0px hsl(154 90% 29% / 80%);
    text-transform: uppercase;
    font-size: 0.7rem;
}
#submit-btn:focus-visible {
    outline: none;
}
#submit-btn:hover {
    background-color: hsl(154 59% 51% / 70%);
    box-shadow: 0px 5px 0px hsl(154 90% 29% / 65%);
    cursor: pointer;
}

.terms {
    color: var(--Grayish-Blue--);
    font-size: 0.65rem;
}
.services {
    color: red;
}

/* DESIGN FOR MEDIUM SCREEN SIZES */

@media (min-width: 700px) {
    body {
        background-image: url(images/bg-intro-desktop.png);
        min-height: auto;
        text-align: left;
        position: relative;
        top: 50px;
    }
    #body {
        justify-content: center;
    }

    .main {
        flex-direction: row;
        max-width: 100%;
    }

    .text-sect {
        align-self: center;
        margin-top: 5em;
        max-width: 350px;
        margin-right: 2em;
    }

    .h1 {
        font-size: 2rem;
        margin: 0;
    }

    .form-sect {
        max-width: 350px;
        text-align: center;
        margin-left: 2em;
    }

    #myForm {
        width: 100%;
    }

    .input-icon {
        width: 100%;
    }
    .input {
        width: 100%;
        border-radius: 5px;
    }

    #First-Name {
        border-bottom-color: var(--Dark-Blue--);
        border-left-color: var(--Dark-Blue--);
    }
    #submit-btn {
        padding: 1.5em 5.15em;
    }
}


@media (min-width: 800px) {
    .text-sect {
        max-width: 400px;
    }
    .form-sect {
        max-width: 400px;
    }
}

/* DESIGN FOR LARGE SCREEN SIZES */

@media (min-width: 1100px) {
    .main {
        justify-content: space-around;
        padding: 1em 3em;
    }

    .text-sect {
        max-width: 50%;
        margin: 0;
        align-self: flex-end;
    }

    .h1-para {
        padding: 3em;
    }
    .h1 {
        font-size: 3rem;
    }

    .form-sect {
        max-width: 100%;
    }

    #submit-btn {
        font-size: 0.85rem;
    }
}

.attribution {
    font-size: 0.5rem;
    text-align: center;
}

.attribution a {
    color: var(--Dark-Grayish-Red--);
}

.attribution a:hover {
    color: hsl(108, 91%, 49%);
}